<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.fpsilva.orgs">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orgs"
        tools:targetApi="31">

<!--        configurando a activity principal-->
        <activity android:name=".MainActivity"
            android:exported="true">
<!--            tag de filtro de intenção-->
            <intent-filter>
               <action android:name="android.intent.action.MAIN"/> <!-- informando que é a activity principal-->
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        </application>

</manifest>